
<section id="about">
  <div class="container">

    <div class="section-heading scrollpoint sp-effect3">
      <h1>OFERTAS BAR</h1>
      <div class="divider"></div>
      <h5>Pedidos a domicilio</h5>
    </div>
    <br><br>

    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="about-item scrollpoint sp-effect2">
          <img class="rounded-circle" src="../../../../assets/img/imgPedidos/p1.png" width="120" height="120">
          <h3>Selecciona el restaurante</h3>
          <p>Selecciona un restaurante para ver los platos que ofrece</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect2">
          <img class="rounded-circle" src="../../../../assets/img/imgPedidos/p2.png" width="120" height="120">
          <h3>Escoge tu comida</h3>
          <p>Agrega a tu carrito de compra los platos que desees</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect2">
          <img class="rounded-circle" src="../../../../assets/img/imgPedidos/p3.png" width="120" height="120">
          <h3>Realiza tu pedido</h3>
          <p>Verifica los detalles finales para la entrega de tu pedido</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6" >
        <div class="about-item scrollpoint sp-effect2">
          <img class="rounded-circle" src="../../../../assets/img/imgPedidos/p4.png" width="120" height="120">
          <h3>Disfruta!</h3>
          <p>El restaurante confirmará el tiempo de entrega de tu pedido</p>
        </div>
      </div>
    </div>
  </div>
</section>

