<app-navbar-sistema></app-navbar-sistema>
<br><br><br><br>
<div class="container">

  <h1 style="color: #161a51; text-align: center;">Administrador de Usuarios</h1>
  <hr>

  <form (ngSubmit)="guardar()" #form="ngForm">


    <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength)&& nombre.touched}" >
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-4">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               #nombre="ngModel"
               required
               minlength="3"
               [(ngModel)]="usuario.nombre">
        <div class="form-control-feedback" *ngIf="nombre.errors?.required">
          Este campo es obligatorio
        </div>
        <div class="form-control-feedback" *ngIf="nombre.errors?.minlength">
          Este campo require minimo 3 caracteres
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (apellido.errors?.required || apellido.errors?.minlength)&& apellido.touched}" >
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-4">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               #apellido="ngModel"
               required
               minlength="3"
               [(ngModel)]="usuario.apellido">
        <div class="form-control-feedback" *ngIf="apellido.errors?.required">
          Este campo es obligatorio
        </div>
        <div class="form-control-feedback" *ngIf="apellido.errors?.minlength">
          Este campo require minimo 3 caracteres
        </div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (email.errors?.required || email.errors?.minlength)&& email.touched}" >
      <label class="col-2 col-form-label">Email</label>
      <div class="col-4">

        <input class="form-control"
               type="email"
               placeholder="email"
               name="email"
               #email="ngModel"
               required
               minlength="3"
               pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
               [(ngModel)]="usuario.email">
        <div class="form-control-feedback" *ngIf="email.errors?.required">
          Este campo es obligatorio
        </div>
        <div class="form-control-feedback" *ngIf="email.errors?.minlength">
          Este campo require minimo 3 caracteres
        </div>
      </div>
    </div>



    <div class="form-group row" [ngClass]="{'has-danger': (password.errors?.required || password.errors?.minlength)&& password.touched}" >
      <label class="col-2 col-form-label">Contraseña</label>
      <div class="col-4">

        <input class="form-control"
               type="password"
               placeholder=" Contraseña"
               name="password"
               #password="ngModel"
               required
               minlength="3"
               [(ngModel)]="usuario.password">
        <div class="form-control-feedback" *ngIf="password.errors?.required">
          Este campo es obligatorio
        </div>
        <div class="form-control-feedback" *ngIf="password.errors?.minlength">
          Este campo require minimo 3 caracteres
        </div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': (password1.errors?.required || password1.errors?.minlength)&& password1.touched}" >
      <label class="col-2 col-form-label"> Verificar Contraseña</label>
      <div class="col-4">

        <input class="form-control"
               type="password"
               placeholder="Verificar Contraseña"
               name="password1"
               #password1="ngModel"
               required
               minlength="3"
               [(ngModel)]="usuario.password1">
        <div class="form-control-feedback" *ngIf="password1.errors?.required">
          Este campo es obligatorio
        </div>
        <div class="form-control-feedback" *ngIf="password1.errors?.minlength">
          Este campo require minimo 3 caracteres
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label"> Rol</label>
      <div class="col-4">
        <select class="form-control" id="rol"
                name="rol"
                #rol="ngModel"
                required
                [(ngModel)]="usuario.rol">
          <option>Administrador</option>
          <option>Tecnico</option>
          <option>Cliente</option>

        </select>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': (telefono.errors?.required)&& telefono.touched}" >
      <label class="col-2 col-form-label">Teléfono</label>
      <div class="col-md-4">
        <input class="form-control"
               type="text"
               placeholder="Telefono"
               required
               name="telefono"
               #telefono="ngModel"
               [(ngModel)]="usuario.telefono">
        <div class="form-control-feedback" *ngIf="telefono.errors?.required">
          Este campo es obligatorio
        </div>
      </div>

    </div>


    <div class="form-group row" [ngClass]="{'has-danger': (img.errors?.required)&& img.touched}" >
      <label class="col-2 col-form-label">Imagen URL</label>
      <div class="col-md-4">
        <input class="form-control"
               type="url"
               required
               placeholder="Ingrese la URL"
               name="img"
               #img="ngModel"
               [(ngModel)]="usuario.img">
        <div class="form-control-feedback" *ngIf="img.errors?.required">
          Este campo es obligatorio
        </div>
      </div>
    </div>







    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary"
        >
          Guardar
        </button>


      </div>
    </div>

  </form>





</div>

