<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="alert alert-info" role="alert">
        <strong></strong>
         <form (ngSubmit)="login(email.value, password.value)" #forma="ngForm">
            <div class="card-block  text-center">

              <h4 class="card-title" >Inicio de Sesión</h4>
              <hr>
              <img src="../../../../assets/img/avatar.jpg" class="rounded-circle"  height="150" width="150">
              <br>
              <br>
              <div class="input-group">
                <input [(ngModel)]="usuario.email" #email name="email" type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
              </div>
              <div class="input-group">
                <input [(ngModel)]="usuario.password" #password name="password" type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
              </div>
              <br>

              <div class="form-group row">
                <div class="col">
                  <button type="submit" class="btn btn-info">
                    Login
                  </button>
                  <a [routerLink]="['/presentacion']" class="nav-link">Página Principal</a>
                </div>
              </div>
              <br>

            </div>
          </form>

      </div>
      <div class="col-sm-3">
      </div>
    </div>

  </div>
  <p-messages [(value)]="msgs"></p-messages>
</div>
