<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <div class="alert alert-info" role="alert">
        <strong></strong>

        <div class="card-block  text-center">

          <h4 class="card-title" >Inicio de Sesión</h4>
          <hr>
          <img src="../../../../assets/img/avatar.jpg" class="rounded-circle"  height="150" width="150">
          <br>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Usuario" aria-describedby="basic-addon1">
          </div>
          <div class="input-group">
            <input type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1">
          </div>
          <br>

          <a [routerLink]="['/perfil']" class="btn btn-success btn-lg btn-block">Ingresar</a>
          <br>


        </div>



      </div>
      <div class="col-sm-3">
      </div>
    </div>

  </div>

</div>
