
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" id="mainNav">
    <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <a class="navbar-brand" href="#" id="navbar-brand">PoliRestaurante</a>

          <img src="https://static1.squarespace.com/static/573a10b34d088e2c9c1f932b/t/57520a0d22482e7d77f1f071/1464994355556/?format=100w">

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-center">
              <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Informacion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contactos</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/login']" class="nav-link">Login</a>
              </li>
            </ul>
           <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
          </div>
    </div>
  </nav>






