<div class="container main-container" id="services">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Toma tu primer pedido en línea esta noche<span class="text-muted"></span></h2>
      <p class="lead">Comienza a tomar pedidos desde tu sitio web, página de Facebook o aplicación móvil sin sacrificar ganancias.
        <br>

        Este sistema de pedidos online es fácil de usar tanto para ti como para tus clientes, y no cuesta nada.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../../assets/i2.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 push-md-5">
      <h2 class="featurette-heading">Pedidos online para sitios web<span class="text-muted"></span></h2>
      <p class="lead">Sólo añade nuestro botón de “Ver Menú y Ordenar” a tu sitio web y eso es todo.

        ¿Aún no tienes un sitio web? Llena el perfil de tu restaurante y generaremos uno por ti, fuera de lo común.</p>
    </div>
    <div class="col-md-5 pull-md-7">
      <img class="featurette-image img-fluid mx-auto" src="../../../../assets/i3.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Además, pedidos por Facebook, gratis<span class="text-muted"></span></h2>
      <p class="lead">Convierte esos “me gusta” en pedidos.

        Publica fotos atractivas de tus recetas más recientes y permite que tus seguidores las pidan directamente en Facebook. A los fans les encanta compartir imágenes de comida con sus amigos.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../../assets/i1.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
