
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top " id="mainNavSis">
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top " id="navbar_color">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/perfil']">Sistema Web</a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item active">
            <a [routerLink]="['/perfil']" class="nav-link" >Perfil </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/usuarios']" class="nav-link" >Usuarios</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/registro','nuevo']" class="nav-link" >Registro Productos</a>
          </li>
          
          <li class="nav-item">
            <a [routerLink]="['/menu']" class="nav-link" >Menu</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/pedidos']" class="nav-link">Pedidos</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto text-center">
          <li class="nav-item">
            <a (click)="salir()" class="nav-link">Salir</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</nav>

