<section id="support" class="doublediagonal">
  <div class="container main-container" >
    <div class="section-heading scrollpoint sp-effect3">
      <h1>CONTÁCTANOS</h1>
      <div class="text-center"></div>
      <p>Para más información, comentarios, reclamos o si representas a un restaurante, contáctanos!</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">

            <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate id="target">

              <div>

                <div class="form-group" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched  }">

                  <div class="col-8">

                    <input class="form-control"
                           type="text"
                           placeholder="Nombre"
                           required
                           minlength="3"
                           name="nombre"
                           #nombre="ngModel"
                           [(ngModel)]="usuario.nombre">

                    <div class="form-control-feedback" *ngIf="nombre.errors?.required">

                    </div>
                    <div class="form-control-feedback" *ngIf="nombre.errors?.minlength">
                      El tamaño minimo es de 3 caracteres
                    </div>

                  </div>

                </div>

                <div class="form-group" [ngClass]="{'has-danger': (apellido.errors?.required ) && apellido.touched  }">

                  <div class="col-8">

                    <input class="form-control"
                           type="text"
                           placeholder="Apellido"
                           required
                           name="apellido"
                           #apellido="ngModel"
                           [(ngModel)]="usuario.apellido">
                    <div class="form-control-feedback" *ngIf="apellido.errors?.required">

                    </div>
                    <div class="form-control-feedback" *ngIf="apellido.errors?.minlength">
                      El tamaño minimo es de 3 caracteres
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-danger': (correo.errors?.required || correo.errors?.pattern) && correo.touched  }">

                <div class="col-8">

                  <input class="form-control"
                         type="email"
                         placeholder="Correo electrónico"
                         required
                         pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$"
                         name="correo"
                         #correo="ngModel"
                         [(ngModel)]="usuario.correo">
                </div>
              </div>

              <div class="form-group" [ngClass]="{'has-danger': (mensaje.errors?.required ) && mensaje.touched  }">
                <div class="col-8">

                  <textarea class="form-control"
                         type="text"
                         placeholder="Mensaje"
                         required
                         name="mensaje"
                         #mensaje="ngModel"
                            [(ngModel)]="usuario.mensaje"
                            cols="30" rows="10" id="mensaje" name="mensaje"></textarea>

                  <div class="form-control-feedback" *ngIf="mensaje.errors?.required">

                  </div>
                  <div class="form-control-feedback" *ngIf="mensaje.errors?.minlength">
                    El tamaño minimo es de 3 caracteres
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-outline-primary"
                      [disabled]="!(forma.valid && habilitado)">
                Enviar
              </button>


            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main-container">

  <footer>
    <div class="container">

      <div class="social">
        <a href="" target="_blank" class=""><i class="fa fa-instagram fa-lg"></i></a>

        <a href="" class=""><i class="fa fa-facebook fa-lg"></i></a>
      </div>
      <div class="rights">
        <p>Copyright &copy; 2017</p>

        <p><a target="_blank" href="https://www.youtube.com/playlist?list=PLVFCxyHZ9cgTJLiX3EMSf9pQdOxfceCBw">Topicos Especiales</a></p>
      </div>
    </div>
  </footer>


</div>


