<section id="support" class="doublediagonal">
  <div class="container main-container" >
    <div class="section-heading scrollpoint sp-effect3">
      <h1>CONTACTANOS</h1>
      <div class="text-center"></div>
      <p>Para más información, comentarios, reclamos o si representas a un restaurante, contáctanos!</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8 col-sm-8 scrollpoint sp-effect1">
            <form class="tex-center" id="target">
              <div class="form-group">
                <input required class="form-control" placeholder="Nombre" name="nombre" id="nombre"/>
              </div>
              <div class="form-group">
                <input required type="email" class="form-control" placeholder="Email" name="email" id="email"/>
              </div>
              <div class="form-group">
                <input   class="form-control" placeholder="Celular" name="movil" id="movil"/>
              </div>

              <div class="form-group">
                <input   class="form-control" placeholder="Ciudad" name="ciudad" id="ciudad"/>
              </div>

              <div class="form-group">
                <textarea required cols="30" rows="10" class="form-control" placeholder="Mensaje" name="mensaje" id="mensaje"></textarea>
              </div>
              <input  type="submit"  class="btn btn-primary btn-lg" value="Enviar">
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main-container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2017 TopicosEspeciales &middot; <a href="#">Link</a> &middot; <a href="#">Link</a></p>
</div>


